<!DOCTYPE html>
<html lang="<%= lang === 'ar' ? 'ar' : 'en' %>">
<head>
    <meta charset="UTF-8">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body dir="<%= lang === 'ar' ? 'rtl' : 'ltr' %>">
    <%-include("navbar")%>
<section id="hero" class="hero-section">
  <div class="page-container">
    <h1 class="hero-title">
      <% if (lang === 'ar') { %>
        شغف <span class="highlight">بالاستدامة</span>، ابتكار في <span class="highlight">التغليف</span>
      <% } else { %>
        Passion for <span class="highlight">Sustainability</span>, Innovation in <span class="highlight">Packaging</span>
      <% } %>
    </h1>
  </div>
</section>
<section id="introduction" class="section">
  <div class="page-container">
    <div class="content-grid">
      <!--merged image-->
    
      <div class="text-block">
        <h2><%= t.introduction %></h2>
        <div class="text-with-separator">
          <p><%= t.introText %></p>
          <div class="separator"></div>
        </div>
        
      </div>
        <div class="image-stack">
        <div class="image-bg-1"></div>
        <img src="/about1.png" alt="Packaging products including a cup, box, and donuts" class="main-image-1">
      </div>
    </div>
  </div>
</section>
<section id="vision" class="section">
  <div class="page-container">
    <div class="content-grid vision-grid">
      <div class="text-block">
        <h2><%= t.ourVision %></h2>
        <div class="text-with-separator">
          <div class="separator"></div>
          <p><%= t.visionText %></p>
        </div>
      </div>
      <!--merged image-->
      <div class="image-stack">
        <div class="image-bg-2"></div>
        <img src="/image2.png" alt="Branded cups with green and blue drinks" class="main-image-2">
      </div>
    </div>
  </div>
</section>
<section dir="ltr" id="mission" class="section mission-section">
  <div class="page-container">
    <div class="content-grid mission-align">
      <div class="text-block">
        <h2 class="<%=lang === "ar" ? "right-mission" : ""%>"><%= t.ourMission %></h2>
        <div class="text-with-separator">
          <p class="<%=lang === "ar" ? "right-mission" : ""%>"><%= t.missionText %></p>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</section>
    <%-include("footer")%>
</body>
</html>